*{
    margin:0;padding:0;
}
body{
    position:relative;
    font-family:'Microsoft YaHei';
    background:#dedede;
}
.clearfix:after{
    content:'';display:table;clear:both;
}
.clearfix{
    *zoom:1;
}
/*头部*//*************************************************/
header{
    position:relative;
    height:60px;
    background:#333;
}
header  a{
    color:white;
    text-decoration:none;
    line-height:58px;
}
header a img{
    float:left;
    padding-left:20px;
    height:58px;
}
header a h1{
    display:inline-block;
    font-size:40px;
    font-family:Arial;
    margin-left:10px;
}
@media only screen and (max-width:700px){
    header  a img, header  a h1{
        display:none;
    }
}
header ul{
    position:absolute;top:0;right:10px;
}
header ul li {
    text-align: center;
	width:80px;
    height:60px;
    display:block;
    float:left;
}
header ul li a{
    font-size:12px;
}
header ul li:hover{
	border-bottom: 2px solid red;
    background: #474747;
	border-radius: 3px;

}

/*主体部分*//*************************************************/
article{
    position:relative;
    display:block;
    margin:30px 400px 30px 30px;padding:20px;
    background:white;
    box-shadow:1px 1px 2px 1px #848484;
    overflow:auto;
}
article h2{
    padding:5px 0;
}
article h3{
    padding:10px 0;
    color:#808080;
    font-size:16px;
}
article a{
    color:blue;
}
article a:hover{
    color:red;
}
.auther, .aTime{
    line-height:30px;
    color:#808080;
    font-size:12px;
}
article p{
    text-indent:2em;
}
article img{
    padding:15px 0;
}
article ul li{
    list-style-type:none;/*去掉列表前的点*/

}
article dl dd{
    float:left;
    width:120px;
    margin:15px;
    border:1px solid #ccc;
}
article dl dd span{
    display:block;
    font-size:12px;
    text-align:center;
    margin:5px;
}
article dl dd img{
    width:110px;
    padding:5px;
}
article ol{
    margin: 10px 40px;
}
article table{
    width:100%;
    border-collapse: collapse;/*设置表格的边框被合并为一个单一的边框*/
}
article table tr th{
    color:white;
    background:#333;
}
article table tr td{
    border:1px solid #ccc;
}
article table .buttomTable{
    background:#ccc;
}
/*侧栏*//*************************************************/

aside{
    position:fixed;top:60px;right:0px;
    margin:30px;
    padding:20px;
    background:white;
    box-shadow:1px 1px 2px 1px #848484;
    width:300px;
}
aside h4{
    height:40px;
    line-height:40px;
    padding-left:10px;
    border-left:3px solid #ccc;
}
aside form div{
    font-size: 14px;
    margin:15px 0;
}

aside form div .tips{
    float:left;           /*添加后个人描述四个字才和文本域上对齐*/
    text-align:right;
    width:35%;
    padding-right:15px;
}
aside form div p{
    margin-left:35%;
    padding-left:15px;
    font-size:12px;
    color: #aaa;
}
aside textarea{
    width:50%;
    height:100px;

}
aside .submitButton{
    width:100%;
    height:40px;
    border-radius: 10px;
    background: #128fdc;
    color: white;
    font-size: 19px;
    border:none;
}
aside .submitButton:hover{
    background: #0063dc;

}
@media only screen and (max-width:800px){
    aside{
        /*display:none;*/
        position:static;
        margin:30px;
        width:auto;
    }
    article{
        margin-right:30px;
    }
}
/*底部*//*hollowtree************************************************/
footer{
    width:100%;
    height:50px;
    background:black;
    color:white;
    text-align:center;
    line-height:50px;
    font-size:14px;
}
footer a{
    color:white;
}